:root{
    --main: #78C091;
    --maind: #4f7e5f;
    --accent: #867f78;
    --accentd: #605B56;
    --background: #DFD9E2;
    --link: #000000;
}

body{
    background-color: var(--background);
}

#navbar{
    background-color: var(--main);
    padding: 3px;
    border-radius: 10px;
    position: sticky;
    top: 0;
}
#bar{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.item{
  display: inline;
  background-color: var(--main);
  padding: 9px;
  border-radius: 5px;
}
.item:hover{
  background-color: var(--maind) ;
}
#contain {
    display: flex;
    justify-content: space-between;
  }
#left{
    flex-basis: 15%;
    background-color: var(--accentd);
    padding: 10px;
    border-radius: 10px;
}
#middle{
    flex-basis: 60%;
    background-color: var(--accent);
    padding: 10px;
    border-radius: 10px;
}
#right{
    flex-basis: 15%;
    background-color: var(--accentd);
    padding: 10px;
    border-radius: 10px;
}
#vert{
    display: block;
    list-style-type: none;
    text-align: left;
}
.vitem{
    padding: 9px;
    border-radius: 5px;
}
.vitem:hover{
    background-color: var(--accent) ;
}
.meme{

    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#centered{
    display: flex;
    justify-content: center;
}
#child{
    background-color: var(--accentd);
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    text-emphasis-color: var(--link);
    color: var(--link);
}
.llink {
    text-emphasis-color: var(--link);
    color: var(--link);
}