<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap" rel="stylesheet"> 
    <title>LogIn</title>
</head>
<body>
    <h2>Create Account</h2>
    <div id="navbar">
        <ul id="bar" >
            <li class="item"><a href="index" class="link">home</a></li>
            <li class="item"><a href="make" class="link">make</a></li>
            <li class="item"><a href="search" class="link">search</a></li>
            <li class="item"><a href="popular" class="link">popular</a></li>
            <li class="item"> <a href="login" class="link">log in</a> </li>
        </ul>
    </div>
    <br>
    <div id="centered">
        <div id="child">
            <h3>Create Account</h3>
            <form action="/createaccount" id="createaccount" method="post" enctype="multipart/form-data">
            <label for="Username">Username: </label>
            <input id="Username" type="text" name="Username">
            <label for="Password">Password: </label>
            <input id="Password" type="password" name="Password">
            <button onclick="createSubmit()">Submit Here</button>
            </form>
        </div>
        <script src="../static/hasher.js"></script>
    </div>

</body>
</html>