<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script type = "text/javascript" src="cookies.js"></script>
    <title>Meme Maker</title>
</head>
<body onload="startup();" id="top">
    <h2>Account View</h2>
    <div id="navbar">
        <ul id="bar" >
            <li class="item"><a href="index" class="link">home</a></li>
            <li class="item"><a href="make" class="link">make</a></li>
            <li class="item"><a href="search" class="link">search</a></li>
            <li class="item"><a href="popular" class="link">popular</a></li>
            <li class="item"> <a href="login" class="link">log in</a> </li>
	    <li class="item"><input type = "button" id = "lightOrDark" value = "Dark Mode" onclick="submitLightOrDarkCookie();"></li>
        </ul>
    </div>
    <br>
    <div id="contain">
        <div id="left">
            <h4>{{username}}</h4>
            <hr>
            <!-- vertical menu -->
            <ul id="vert">
                <li class="vitem" ><a href="account" class="link">your account</a></li>
                <li class="vitem" >explore</li>
                <li class="vitem" >create</li>
            </ul>


        </div>
        <div id="middle">
            
            <h4>your memes</h4>
            <hr>

            <img src="samplememe.jpg" alt="sample" class="meme">
        </div>
        <div id="right">
            <h4>top tags?</h4>
            <hr>
            <p>right item</p>
        </div>
    </div>


</body>
</html>
